<div class="min-h-screen bg-slate-50">
  <!-- Navbar -->
  <nav
    class="bg-white shadow p-4"
    *ngIf="
      !router.url.includes('/person') &&
      !router.url.includes('/add-testimonial')
    "
  >
    <div class="max-w-4xl mx-auto flex justify-between items-center">
      <a routerLink="/" class="font-semibold text-lg">People</a>

      <!-- Right side: auth actions -->
      <div class="flex items-center gap-3">
        <!-- Show these only if NOT logged in -->
        <ng-container *ngIf="!auth.isLoggedIn(); else loggedInTpl">
          <a
            routerLink="/signup"
            class="text-sm text-indigo-600 hover:underline"
            >Sign up</a
          >
          <a
            routerLink="/signin"
            class="text-sm text-indigo-600 hover:underline"
            >Sign in</a
          >
        </ng-container>

        <!-- Show when logged in -->
        <ng-template #loggedInTpl>
          <span class="text-sm text-gray-700"
            >Hi, {{ auth.user()?.email }}</span
          >
          <button
            (click)="logout()"
            class="text-sm bg-indigo-600 text-white px-3 py-1 rounded hover:bg-indigo-700"
          >
            Sign out
          </button>
        </ng-template>
      </div>
    </div>
  </nav>

  <main class="">
    <router-outlet></router-outlet>
  </main>
</div>
